version: '3'
services:
  nginx:
    build: nginx
    ports:
      - '80:80'
    links:
      - pi-hole

  pi-hole:
    build: pi-hole
    env_file: pi-hole/compose.env
    hostname: pi-hole
    ports:
      - 8080:80
      - 53:53/tcp
      - 53:53/udp
    dns: 127.0.0.1

  redis:
    build: redis
    hostname: redis
    ports:
      - 6379:6379

  mongodb:
    build: mongodb
    hostname: mongodb
    ports: 
      - 27017:27017

  sharelatex:
    build: sharelatex
    ports:
      - 8081:80
    links:
      - mongodb
      - redis
    depends_on:
      - mongodb
      - redis

  mysql:
    build: mysql
    hostname: mysql
    env_file: mysql/compose.env
    ports:
      - 3306:3306

  firefly-iii:
    build: firefly-iii
    hostname: firefly
    env_file: firefly-iii/compose.env
    ports:
      - 8082:80
    links:
      - mysql
    depends_on:
      - mysql

  transmission-oss:
    build: transmission-oss
    ports:
      - 9091:9091

  util:
    hostname: util
    build:
      context: util
      args:
        DEFAULT_BLOBSTORE_WRITE_ACL: ${DEFAULT_BLOBSTORE_WRITE_ACL}
        DEFAULT_BLOBSTORE_READ_ACL: ${DEFAULT_BLOBSTORE_READ_ACL}
        MULTI_REDDIT_SUBS_LOCATION: ${MULTI_REDDIT_SUBS_LOCATION}
        MULTI_REDDIT_SAVED_LOCATION: ${MULTI_REDDIT_SAVED_LOCATION}

  resilio-server:
    build: resilio-server
    env_file: resilio-server/.env
    ports:
      - 8888:8888
